<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.trasen.tsrelease.dao.TbIndividualityMapper" >
  <resultMap id="BaseResultMap" type="cn.trasen.tsrelease.model.TbIndividuality" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pkid" property="pkid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mod_id" property="modId" jdbcType="INTEGER" />
    <result column="mod_name" property="modName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="file_id" property="fileId" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="hospital" property="hospital" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getIndividualityList" resultType="cn.trasen.tsrelease.model.TbIndividuality" parameterType="String">
    select * from tb_individuality where hospital like CONCAT("%",#{hospitalName},"%")
  </select>

  <insert id="saveIndividuality" parameterType="cn.trasen.tsrelease.model.TbIndividuality">
     insert into tb_individuality(`name`,mod_id,mod_name,remark,file_id,created,updated,operator,hospital,`size`) values(#{name},#{modId},#{modName},#{remark},#{fileId},#{created},#{updated},#{operator},#{hospital},#{size})
  </insert>

  <select id="getIndividuality" parameterType="Integer" resultType="cn.trasen.tsrelease.model.TbIndividuality">
    select * from tb_individuality where pkid=#{pkid}
  </select>
</mapper>