<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.trasen.tsrelease.dao.TbModRelyMapper">

    <insert id="insertSelective" parameterType="cn.trasen.tsrelease.model.TbModRely">
    insert into tb_mod_rely(pre_mod_id, `pre_mod_name`, pre_versionId, pre_version,`mod_version_id`) VALUES (#{preModId}, #{preModName},#{preVersionid},#{preVersion},#{modVersionId})
  </insert>

    <delete id="deletive" parameterType="int">
        delete from tb_mod_rely where pkid=#{pkid}
    </delete>

    <select id="selective" resultType="cn.trasen.tsrelease.model.TbModRely">
        select * from tb_mod_rely
    </select>

    <update id="updative" parameterType="cn.trasen.tsrelease.model.TbModRely">
        UPDATE tb_mod_rely set pre_mod_name=#{preModName} where pkid=#{pkid}
    </update>
</mapper>