<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.trasen.tsrelease.dao.TbModVersionMapper">

    <insert id="insertive" parameterType="cn.trasen.tsrelease.model.TbModVersion">
      insert into tb_mod_version(version_type, demand_start, demand_end, demand_num, mod_id, file_id, remark, created, updated, operator) VALUES(#{versionType}, #{demandStart}, #{demandEnd}, #{demandNum}, #{modId}, #{fileId}, #{remark}, #{created}, #{updated}, #{operator})
    </insert>

  <select id="selective" resultType="cn.trasen.tsrelease.model.TbModVersion">
    select * from tb_mod_version
    <where>
      <if test="modId!=null">and mod_id=#{modId}</if>
      <if test="version!=null"> or version like concat('%',#{version},'%') </if>
    </where>
  </select>

  <update id="updative" parameterType="cn.trasen.tsrelease.model.TbModVersion">
    UPDATE tb_mod_version set version_type=#{versionType} where pkid=#{pkid}
  </update>

  <delete id="deletive" parameterType="int">
    DELETE from tb_mod_version where pkid=#{pkid}
  </delete>
</mapper>