<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.trasen.tsrelease.dao.TbProModuleMapper" >

  <insert id="insertive" parameterType="cn.trasen.tsrelease.model.TbProModule">
    INSERT into tb_pro_module(mod_id,mod_name, code, show_px, release_px, version_fix, pro_id, created, updated, operator, is_vaild) VALUES (#{modId},#{modName}, #{code}, #{showPx}, #{releasePx}, #{versionFix}, #{proId}, #{created}, #{updated}, #{operator}, #{isVaild})
  </insert>

  <delete id="deletive" parameterType="int">
    delete from tb_pro_module where mod_id=#{modId}
  </delete>

  <select id="selective" resultType="cn.trasen.tsrelease.model.TbProModule">
    select * from tb_pro_module
  </select>

  <update id="updative" parameterType="cn.trasen.tsrelease.model.TbProModule">
    UPDATE tb_pro_module set mod_name=#{modName} where mod_id=#{modId}
  </update>

  <select id="getProModuleList" resultType="cn.trasen.tsrelease.model.TbProModule">
    select * from tb_pro_module where is_vaild=1
  </select>
</mapper>