<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.transen.tsrelease.dao.TbProductMapper">
    <resultMap id="BaseResultMap" type="com.transen.tsrelease.model.TbProduct">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pkid" property="pkid" jdbcType="INTEGER"/>
        <result column="parent" property="parent" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="dep_id" property="depId" jdbcType="VARCHAR"/>
        <result column="dep_name" property="depName" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.transen.tsrelease.model.TbProduct">
        insert into tb_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parent!=null">`parent`,</if>
            <if test="name!=null">`name`,</if>
            <if test="type!=null">`type`,</if>
            <if test="level!=null">`level`,</if>
            <if test="depId!=null">`dep_id`,</if>
            <if test="depName!=null">`dep_name`,</if>
            <if test="created!=null">`created`,</if>
            <if test="updated!=null">`updated`,</if>
            <if test="operator!=null">`operator`,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parent!=null">#{parent, jdbcType=INTEGER},</if>
            <if test="name!=null">#{name, jdbcType=VARCHAR},</if>
            <if test="type!=null">#{type, jdbcType=VARCHAR},</if>
            <if test="level!=null">#{level, jdbcType=INTEGER},</if>
            <if test="depId!=null">#{depId, jdbcType=VARCHAR},</if>
            <if test="depName!=null">#{depName, jdbcType=VARCHAR},</if>
            <if test="created!=null">#{created, jdbcType=TIMESTAMP},</if>
            <if test="updated!=null">#{updated, jdbcType=TIMESTAMP},</if>
            <if test="operator!=null">#{operator, jdbcType=VARCHAR},</if>

        </trim>
    </insert>
</mapper>