<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.transen.tsrelease.dao.TwfDictMapper" >
  <resultMap id="BaseResultMap" type="com.transen.tsrelease.model.TwfDict" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pkid" property="pkid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="is_vaild" property="isVaild" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="saveTwfDic" parameterType="com.transen.tsrelease.model.TwfDict">
    insert into twf_dict(`name`,code,`type`,is_vaild) values(#{name},#{code},#{type},#{isVaild})
  </insert>
</mapper>